
@{

    ViewData["Title"] = "Index";
    var stats = (MusicHubMaster.Data.StatisticsModel)ViewData["Stats"];
}

<link rel="stylesheet" href="~/css/home.css" />


<section class="counter_feature">
    <div class="container">
        <div class="row text-center">

            <div class="col-lg-3 col-sm-6 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single-project">
                    <span class="ti-user"></span>
                    <h2 class="counter-num">@stats.SongsCount</h2>
                    <h4>Songs</h4>
                </div>

            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                <div class="single-project">
                    <span class="ti-star"></span>
                    <h2 class="counter-num">@stats.AlbumsCount</h2>
                    <h4>Albums</h4>
                </div>
            </div><!-- END COL -->

            <div class="col-lg-3 col-sm-6 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                <div class="single-project">
                    <span class="ti-pencil-alt"></span>
                    <h2 class="counter-num">@stats.PerformersCount</h2>
                    <h4>Performers</h4>
                </div>
            </div><!-- END COL -->

            <div class="col-lg-3 col-sm-6 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                <div class="single-project">
                    <span class="ti-star"></span>
                    <h2 class="counter-num">@stats.WritersCount</h2>
                    <h4>Writers</h4>
                </div>
            </div><!-- END COL -->
        </div><!--- END ROW -->
        <div class="row text-center">

        </div>
    </div><!--- END ROW -->
</section>

